/*Clases generales*/
a{
    padding: 2px ;
    text-decoration:none;
    transition-property: all;
    transition-duration: 50ms;
    transition-timing-function: ease;
    transition-delay: 30ms;
    color: white;
}


body{
    background-color: #070f4e;
    color: #f5ebeb;
    min-height: fit-content;
    margin-bottom: 100px;
    clear: both;
    

}
img{
    
    width: 140px;
    height: 100px;
}

/*Header*/
.navi{
    box-sizing: content-box;

}
.titles {
    text-align: center;
    margin: 0px;
    font-size: 500%;
    text-transform: uppercase;
    text-shadow: 0px 0px 15px black;
 
}

.firstbox {
    text-align: center;
    margin: 0px;
    font-size: 120%;
    background-color: #2772db;
    padding: 10px;
       
}

.upmain{
    font-family: 'Arial','Constantia','Franklin Gothic Medium',sans-serif;
    
}

.upmain a{
    margin: 0px 20px;
}

.upmain a:hover{
    text-shadow: 0px 0px 2px black;
    transition-property: all;
    transition-duration: 100ms;
    transition-timing-function: ease-in;
    transition-delay: 50ms;
    background-color: #070f4e;
}

.historia{
    color: #f5ebeb;
    font-family: 'Lucida Console','Calibri','Georgia','MS Sans Serif','Times New Roman',sans-serif;
}

.subtitles{
    color: #3ab1c8;
    text-align: center;
    font-size: 30px;
    text-shadow: 0px 0px 15px black;
}

.adopta{
    font-family: 'Impact',sans-serif;
    font-weight: bold;
    color: #3ab1c8;
    font-size: 30px;
    text-align: center;
}

/*Solicitud*/
.test{
    
}

/*FOTOS*/

.picbox{
    display: grid;
    grid-template:  15rem 15rem 15rem / 20rem 20rem 20rem  ;
    gap:5%;
    grid-template-columns: repeat(auto-fit,minmax(360px, 1fr));
    
}

.pics{
    display: flex;
    border: 1px solid black;
    justify-content: center;
    align-items: baseline;
    background-color: #3eaac0;
    color: #070f4e;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    box-shadow: 0px 5px 25px #2772db;
}

.pics a{
    color: #02191e;
}

.texts{
    align-items: center;
}





#like{
    background-color: #070f4e;
    color: #ffffff;}

#like :hover{
    background-color: #3ab1c8;
    color: rgb(204, 245, 170);
    padding: 4px 7px;
    border: 1px solid rgb(5, 142, 74);

    transition-property: all;
    transition-duration: 100ms;
    transition-timing-function: ease-in;
    transition-delay: 50ms;


}

.footcont{
    display : grid;
    grid-gap: 10px;
    grid-template-columns:(1fr, 2fr, 1fr);    
    align-items: center;
    background-color: #2772db;
    position: fixed;
    bottom: 0%;
    width: 100%;
    grid-column: -1/1 ;
    padding: 0%;
    
    
    
}

.cont1{
    grid-column: -1 / 1;
    grid-row: 1;
    margin: 2rem;
    padding: auto;
    
    
  }

.cont2{
    display: flex;
    grid-column: 2/4;
    grid-row: 1;
    align-items: center;
    justify-content: space-between;
       
}

#footpic{
    border-radius: 65%;
    border-style: groove;
    border-color: aqua;
}

.cont3{
    grid-column: 5 ;
    grid-row: 1;
    justify-content: space-around;
    padding: auto;
  }




/*Gama colores
#2772db
#070f4e
#f5ebeb
#3ab1c8
*/