html{
    font-size: 62.5%;
}
body{
    background-color: rgb(11, 193, 23);
}
.titles {
    background-color: rgb(29, 233, 90);
    text-align: center;
    margin: 0px;
    border-style: groove;
    border-width: 5px;
    border-color: rgb(13, 89, 13);
}


.firstbox {
    background-color: green;
    text-align: center;
    margin: 0px;
    border-style: dotted ;
    border-width: 5px;
    border-color: rgb(25, 165, 25);
    
}

.upmain{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.picbox{
    display: grid;
    grid-template:  15rem 15rem 15rem / 20rem 20rem 20rem  ;
    
}

.pics{
    display: grid;
    border: 1px solid black;
    align-self: auto;
     
}

a{
    background-color: blueviolet;
    color: blue;
    border: 1px solid black;
    padding: 2px ;

    transition-property: all;
    transition-duration: 50ms;
    transition-timing-function: ease;
    transition-delay: 30ms;
}

a:hover{
    background-color: red;
    color: green;
    padding: 4px 7px;
    border: 1px solid violet;

    transition-property: all;
    transition-duration: 100ms;
    transition-timing-function: ease-in;
    transition-delay: 50ms;
}

footer{
    background-color: rgb(36, 100, 21);
    display : flex;
    justify-content: space-between;
    align-items: center;
      
}

.socialmedia{
   display: grid;
   align-self: flex-start ;
}

.abouts{
    display: grid;
    align-self: flex-end;
    
}

.logos{
    display: grid;
    justify-content: center;

}


img{
    border-radius: 50%;
    width: 30px;
    height:50px;
}


#prueba{
    background-color: rgb(126, 188, 50);
    color: rgb(161, 20, 119);
    padding: 4px 7px;
    border: 1px solid violet;

    transition-property: all;
    transition-duration: 100ms;
    transition-timing-function: ease-in;
    transition-delay: 50ms;
}

#prueba:hover{
    background-color: rgb(149, 55, 231);
    color: rgb(204, 245, 170);
    padding: 4px 7px;
    border: 1px solid violet;

    transition-property: all;
    transition-duration: 100ms;
    transition-timing-function: ease-in;
    transition-delay: 50ms;


}

.container{
    display: flex;
}

.titulos{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;


}